<!DOCTYPE html>
<html lang="en">
<body>

<nav data-th-fragment="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="" data-th-src="@{/logo.png}" width="24" height="24" class="d-inline-block align-top"
                 alt=""/>
            Gasprice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" data-th-classappend="${#request.requestURI == '/refuels' ? 'active':''}">
                    <a class="nav-link" data-th-href="@{/refuels}">Refuels</a>
                </li>
                <li class="nav-item" data-th-classappend="${#request.requestURI.startsWith('/cars') ? 'active':''}">
                    <a class="nav-link" data-th-href="@{/cars}">Cars</a>
                </li>
                <li class="nav-item"
                    data-th-classappend="${#request.requestURI.startsWith('/petrols') ? 'active':''}">
                    <a class="nav-link" data-th-href="@{/petrols}">Petrols</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>