<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cars</title>

    <script data-th-replace="fragments/common_headers.html :: includes"></script>

</head>

<body>

<nav data-th-replace="fragments/navbar.html :: navbar"></nav>

<main role="main" class="container">

    <ul data-th-if="${currentCarsTablePage.totalPages > 0}" class="pagination">
        <li data-th-each="pageNumber : ${pageNumbers}" class="page-item"
            data-th-classappend="${pageNumber==currentCarsTablePage.number + 1} ? active"><a
                data-th-href="@{/cars(size=${currentCarsTablePage.size}, page=${pageNumber})}"
                data-th-text="${pageNumber}" class="page-link">1</a></li>
    </ul>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col" class="text-right">Id</th>
            <th scope="col">Name</th>
            <th scope="col" class="text-right">Expected consumption</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="car: ${currentCarsTablePage.content}">
            <td>
                <img alt="" src="" width="100px" height="75px"
                     data-th-src="'data:image/jpeg;base64,' + ${car.imageBase64}" data-th-alt="${car.name}"/>
            </td>
            <td data-th-text="${car.id}" class="text-right">1</td>
            <td data-th-text="${car.name}">Cheetah</td>
            <td data-th-text="${#numbers.formatDecimal(car.estimatedConsumption,1,2)}" class="text-right">9.80</td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>
