<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Refuels</title>

    <script data-th-replace="fragments/common_headers.html :: includes"></script>
    <link rel="stylesheet" data-th-href="@{/webjars/chartjs/Chart.min.css}"/>
    <script type="text/javascript" data-th-src="@{/webjars/chartjs/Chart.bundle.min.js}"></script>

    <script data-th-inline="javascript">
        // <![CDATA[
        $(function () {
            let ctx = $('#mainChart');

            // https://stackoverflow.com/a/45172506/6948900
            Chart.defaults.LineWithLine = Chart.defaults.line;
            Chart.controllers.LineWithLine = Chart.controllers.line.extend({
                draw: function (ease) {
                    // noinspection JSPotentiallyInvalidConstructorUsage
                    Chart.controllers.line.prototype.draw.call(this, ease);

                    if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
                        let activePoint = this.chart.tooltip._active[0],
                            ctx = this.chart.ctx,
                            x = activePoint.tooltipPosition().x,
                            topY = this.chart.legend.bottom,
                            bottomY = this.chart.chartArea.bottom;

                        // draw line
                        ctx.save();
                        ctx.beginPath();
                        ctx.moveTo(x, topY);
                        ctx.lineTo(x, bottomY);
                        ctx.lineWidth = 1;
                        ctx.strokeStyle = 'rgba(255, 99, 100, 0.5)';
                        ctx.stroke();
                        ctx.restore();
                    }
                }
            });

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [[${chartDates}]],
                    datasets: [{
                        type: 'LineWithLine',
                        yAxisID: 'price',
                        label: 'Price',
                        borderColor: 'rgb(255, 99, 100)',
                        backgroundColor: 'rgba(255, 99, 100, 0.0)',
                        data: [[${chartPrices}]],
                        borderWidth: 1
                    },
                        {
                            yAxisID: 'amount',
                            label: 'Amount',
                            borderColor: 'rgb(54, 162, 235)',
                            backgroundColor: 'rgba(54, 162, 235, 0.3)',
                            data: [[${chartAmounts}]],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    elements: {
                        line: {
                            tension: 0
                        }
                    },
                    animation: {
                        duration: 0
                    },
                    hover: {
                        animationDuration: 0
                    },
                    responsiveAnimationDuration: 0,
                    tooltips: {
                        intersect: false
                    },
                    legend: {
                        align: 'end'
                    },
                    scales: {
                        yAxes: [{
                            id: 'price',
                            position: 'right',
                            ticks: {
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false,
                            },
                        }, {
                            id: 'amount',
                            position: 'left',
                        }],
                        xAxes: [{
                            ticks: {
                                display: false
                            },
                            gridLines: {
                                display: false,
                            },
                        }]
                    }
                }
            });
        });
        // ]]>
    </script>

</head>

<body>

<nav data-th-replace="fragments/navbar.html :: navbar"></nav>

<main role="main" class="container">

    <canvas id="mainChart" class="mb-3" height="100"></canvas>

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col" class="text-right">Id</th>
            <th scope="col">Car</th>
            <th scope="col">Petrol</th>
            <th scope="col" class="text-right">Amount</th>
            <th scope="col" class="text-right">Price</th>
            <th scope="col" class="text-right">Total</th>
            <th scope="col" class="text-right">Mileage</th>
            <th scope="col">Date Time</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="refuel: ${refuels}">
            <td data-th-text="${refuel.id}" class="text-right">1</td>
            <td data-th-text="${refuel.car.name}">Cheetah</td>
            <td data-th-text="${refuel.petrol.name}">Standard-100</td>
            <td data-th-text="${#numbers.formatDecimal(refuel.amount,1,3)}" class="text-right">11.932</td>
            <td data-th-text="${#numbers.formatDecimal(refuel.price,1,2)}" class="text-right">30.99</td>
            <td data-th-text="${#numbers.formatDecimal(refuel.amount * refuel.price,1,2)}" class="text-right">369.77
            </td>
            <td data-th-text="${refuel.mileage}" class="text-right">10000</td>
            <td data-th-text="${#temporals.format(refuel.datetime, 'dd-MM-yyy HH:mm')}">19-11-2019 17:23</td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>